<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="pragma" content="no-cache"/>
    <title>登陆页</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
</head>
<body  style="overflow:scroll;overflow-y:hidden">
<div class="login">
    <h1>Chat Room</h1>
    <form method="post" action="/login/doLogin">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit" class="sub-btn">Login</button>
    </form>
    <a class="user_register" href="/register" target="_blank">新用户注册</a>
</div>
<script src="/js/base.js"></script>
</body>
</html>
